FsharpTweetBot.ConsoleApplication/bin/
FsharpTweetBot.ConsoleApplication/obj/
FsharpTweetBot/bin/
FsharpTweetBot/obj/
WebApplication1/bin/
WebApplication1/obj/
FsharpTweetBot.ConsoleApplication/App.config
